<h1>Of oprator:==> <p>Creates an observable from a sequence of values.</p></h1>
<div class="container">
   
    <div class="div">
        <h4>Example :1</h4>
        <p><strong>data:</strong>of(tarun,kisna, abhishek)</p>
    
        <h4>Result</h4>
        <ul>
            <li>tarun</li>
            <li>kisna</li>
            <li>abhishek</li>
        </ul>
    </div>
    
    <div class="div2">
        <h4>Example :2</h4>
        <p><strong>data:</strong>of(&#123;a:tarun, b:kisna, c:abhishek)</p>
    
        <h4>Result</h4>
        <ul>
            <li>{{ofList.a}}</li>
            <li>{{ofList.b}}</li>
            <li>{{ofList.c}}</li>
        </ul>
    </div>
</div>

<h1 style="margin-top: 50px;">from oprator:==>
    <p>The from operator creates an Observable from an array, an array-like object, a promise, an iterable object, or another Observable.</p>
</h1>


<div class="container">
   
    <div class="div">
        <h4>Example :1 (Array)</h4>
        <p><strong>data:</strong>from([bahubali,devsena, kttapa])</p>
    
        <h4>Result</h4>
        <ul>
            <li>bahubali</li>
            <li>devsena</li>
            <li>kttapa</li>
        </ul>
    </div>
    
    <div class="div2">
        <h4>Example :2 (string to observable)</h4>
        <p><strong>data:</strong>of('tarun')</p>
    
        <h4>Result</h4>
        <ul>
            <li>t</li>
            <li>a</li>
            <li>r</li>
            <li>u</li>
            <li>n</li>
        </ul>
    </div>
</div>
