<!-- basic example 2 of concurrency managment -->

<!-- for users -->
<!-- <div *ngIf="users.length > 0">
    <h2>Users</h2>
    <ul>
      <li *ngFor="let user of users">
        <h3>{{ user.name }}</h3>
        <p>Email: {{ user.email }}</p>
        <p>phone: {{ user.phone }}</p>
        <p>address: {{ user.address }}</p>
        <p>address: {{ user.address }}</p>
        <p>company: {{ user.company }}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="users.length === 0">
    <p>Loading users...</p>
  </div> -->
  



<!-- for post -->
<!-- <div *ngIf="posts.length > 0">
    <h2>Posts</h2>
    <ul>
      <li *ngFor="let post of posts">
        <h3>{{ post.title }}</h3>
        <p>{{ post.body }}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="posts.length === 0">
    <p>Loading posts...</p>
  </div> -->
  


  <!-- <button class="button"  (click)="foundData()">Users</button> -->

  <div *ngIf="anotherData">
    <table>
      <thead>
        <tr>
          <th>Field</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>IP</td>
          <td>{{ anotherData.ip }}</td>
        </tr>
        <tr>
          <td>Network</td>
          <td>{{ anotherData.network }}</td>
        </tr>
        <tr>
          <td>Version</td>
          <td>{{ anotherData.version }}</td>
        </tr>
        <tr>
          <td>City</td>
          <td>{{ anotherData.city }}</td>
        </tr>
        <tr>
          <td>Region</td>
          <td>{{ anotherData.region }}</td>
        </tr>
        <tr>
          <td>Region Code</td>
          <td>{{ anotherData.region_code }}</td>
        </tr>
        <tr>
          <td>Country</td>
          <td>{{ anotherData.country }}</td>
        </tr>
        <tr>
          <td>Country Name</td>
          <td>{{ anotherData.country_name }}</td>
        </tr>
        <tr>
          <td>Country Code</td>
          <td>{{ anotherData.country_code }}</td>
        </tr>
        <tr>
          <td>Country Code ISO3</td>
          <td>{{ anotherData.country_code_iso3 }}</td>
        </tr>
        <tr>
          <td>Country Capital</td>
          <td>{{ anotherData.country_capital }}</td>
        </tr>
        <tr>
          <td>Country TLD</td>
          <td>{{ anotherData.country_tld }}</td>
        </tr>
        <tr>
          <td>Continent Code</td>
          <td>{{ anotherData.continent_code }}</td>
        </tr>
        <tr>
          <td>In EU</td>
          <td>{{ anotherData.in_eu }}</td>
        </tr>
        <tr>
          <td>Postal</td>
          <td>{{ anotherData.postal }}</td>
        </tr>
        <tr>
          <td>Latitude</td>
          <td>{{ anotherData.latitude }}</td>
        </tr>
        <tr>
          <td>Longitude</td>
          <td>{{ anotherData.longitude }}</td>
        </tr>
        <tr>
          <td>Timezone</td>
          <td>{{ anotherData.timezone }}</td>
        </tr>
        <tr>
          <td>UTC Offset</td>
          <td>{{ anotherData.utc_offset }}</td>
        </tr>
        <tr>
          <td>Country Calling Code</td>
          <td>{{ anotherData.country_calling_code }}</td>
        </tr>
        <tr>
          <td>Currency</td>
          <td>{{ anotherData.currency }}</td>
        </tr>
        <tr>
          <td>Currency Name</td>
          <td>{{ anotherData.currency_name }}</td>
        </tr>
        <tr>
          <td>Languages</td>
          <td>{{ anotherData.languages }}</td>
        </tr>
        <tr>
          <td>Country Area</td>
          <td>{{ anotherData.country_area }}</td>
        </tr>
        <tr>
          <td>Country Population</td>
          <td>{{ anotherData.country_population }}</td>
        </tr>
        <tr>
          <td>ASN</td>
          <td>{{ anotherData.asn }}</td>
        </tr>
        <tr>
          <td>Organization</td>
          <td>{{ anotherData.org }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div >
    <button class="button">fetch-Data</button>
</div>