<!-- observable  -->


<div class="grid-container">
    <div class="grid-item" routerLink="post_List">Observable</div>
    <div class="grid-item" routerLink="user_post">Higher-Order Observable</div>
    <div class="grid-item" routerLink="dynamic_obseravble">Dynamic Observable Composition</div>
    <div class="grid-item" routerLink="oprator">Operator</div>
    <div class="grid-item" routerLink="subscription-managnment">Subscription Management</div>
    <div class="grid-item" routerLink="state-managnment" >State Management</div>
    <div class="grid-item" routerLink="sechedulers" >Schedulers</div>
    <div class="grid-item" routerLink="concurrency-management" >Concurrency-Management</div>
    <div class="grid-item" routerLink="reactiveForm" >Reactive Form With RxJs</div>
    <div class="grid-item" routerLink="rateLimitingThrottling" >Rate-Limiting And Throttling</div>
    <div class="grid-item" routerLink="back-pressure-handling" >Back-Pressure-Handling</div>
  
  </div>
  




   <router-outlet></router-outlet>


   <!-- <app-concurrency-management></app-concurrency-management> -->

   <!-- <app-schedulers></app-schedulers> -->


   <!-- reactive form in rxjs -->
    <!-- <app-reactive-form-rx-js></app-reactive-form-rx-js> -->

    <!-- <app-web-socket-real-time-data></app-web-socket-real-time-data> -->

    <!-- <app-rate-limiting-throttling></app-rate-limiting-throttling> -->


    <!-- <app-back-pressure-handling></app-back-pressure-handling> -->