<!-- observable  -->


<div class="grid-container">
    <div class="grid-item" routerLink="post_List">Observable</div>
    <div class="grid-item" routerLink="user_post">Higher-Order Observable</div>
    <div class="grid-item" routerLink="dynamic_obseravble">Dynamic Observable Composition</div>
    <div class="grid-item" routerLink="oprator">Operator</div>
    <div class="grid-item" routerLink="subscription-managnment">Subscription Management</div>
    <div class="grid-item" routerLink="state-managnment" >State Management</div>
    <!-- <div class="grid-item" routerLink="state-managnment" [message]="message" (updateMessage)="updateMessage($event)">State Management</div> -->
  </div>
  


  <!-- Subject  -->
   <!-- <div class="div" style="display: flex;flex-direction: column; align-items: center; gap: 15px;">
    <app-comp1></app-comp1>
   <app-comp2></app-comp2>
   </div> -->



   <!-- replay Subject varient  -->
   <!-- <app-replay-subject></app-replay-subject> -->


   
   
   <!-- <app-oprator></app-oprator> -->


   <!-- <app-subscription-managnment></app-subscription-managnment> -->


   <!-- <app-state-managnment [message]="message" (updateMessage)="updateMessage($event)" ></app-state-managnment> -->

   <router-outlet></router-outlet>