
<!-- <div>{{ message }}</div>
    <button (click)="changeMessage()">Change Message</button> -->


    <!-- this example for components state managnment in angular -->


    <!-- <div class="boxButton">
        <p>Counter: {{ counter }}</p>
        <button (click)="increment()">Increment</button>
        <button (click)="decrement()">Decrement</button>
        <button (click)="reset()">Reset</button>
      </div> -->



      <!-- this example for ngrx state managnment in Rxjs  -->

      <div class="boxButton">
        <p>Counter: {{count | async}} </p>
        <button (click)="increment()" >Increment</button>
        <button (click)="decrement()" >Decrement</button>
        <button (click)="reset()" >Reset</button>
      </div>
      

