<div class="cards"  >
    <div class="card red" routerLink="of-from">
        <p class="tip">of-from</p>
        <p class="second-text">Opraator</p>
    </div>
    <div class="card blue" routerLink="time-interval">
        <p class="tip">time and interval</p>
        <p class="second-text">Opraator</p>
    </div>
    <div class="card green" routerLink="toArray">
        <p class="tip">toArray</p>
        <p class="second-text">Opraator</p>
    </div>
    <div class="card pink" routerLink="map">
        <p class="tip">Map And filter</p>
        <p class="second-text">Opraator</p>
    </div>
</div>


<div class="cards"  >
    <div class="card red" routerLink="pluck" >
        <p class="tip">pluck And take</p>
        <p class="second-text">Opraator</p>
    </div>
    <div class="card blue" routerLink="concat-merge">
        <p class="tip">concat-merge-forkJoin</p>
        <p class="second-text">Opraator</p>
    </div>
    <div class="card green" routerLink="error" >
        <p class="tip">catchError and ThrowError</p>
        <p class="second-text">Opraator</p>
    </div>
    <div class="card pink" routerLink="find" >
        <p class="tip">find and count , max and min</p>
        <p class="second-text">Opraator</p>
    </div>
</div>

<router-outlet></router-outlet>